<header>
  <h1><a href="/" class="logo">ArtBlog</a></h1>
  <div class="right-part">
    <nav>
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/posts">Все посты</a></li>
        <li><a href="/about">Обо мне</a></li>
      </ul>
    </nav>
    <button onclick="location.href = '/login'" class="login">
      <i class="ti ti-user-square-rounded"></i>Войти
    </button>
  </div>
</header>
